@import 'src/style.scss';

.profile{
    width: 100%;
    height:100vh;
    @include center(row);
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 10vh;
    .profile-container{
        display: flex;
        width:80%;
        padding-right: 3rem;
        padding-top:10vh;
        .desc{
            text-align: right;
            width: 60%;
            h1{
                color:$secondaryColor;
                margin-bottom: 2rem;
                font-size: calc(20px + (48 - 20) * ((100vw - 320px) / (1600 - 300)));
            }
        }
        .images{
            width:40%;
            position: relative;
            margin:1rem 2rem;
            img{
                width:200px;
                position: absolute;
                top:0;
                left:0;
                border:2px solid $borderColor;
            }
            .frame{
                width:200px;
                // min-height: 200px;
                position: absolute;
                left:0;
                height:300px;
                border:2px solid $borderColor;
            }
            .frame:first-of-type{
                top:-5%;
                left:-5%;
                transform:rotate(5deg);
                // min-height: 200px;

            }
            .frame:last-of-type{
                top:-5%;
                left:-5%;
                transform:rotate(-5deg);
            }
        }
        
    }
    @media only screen and (max-width: 700px){
        justify-content: flex-start;
        // height: 150vh;
        .profile-container{
            margin: 0 1rem;
            width:90%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .desc{
                padding:0 1rem;
                width:100%;
                text-align: left;
                text-align: center;
                h1{
                    margin: 0;
                }
                .hide{
                    display:none;
                }
            }
            .images{
                width:100%;
                height:150px;
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    width:100px;
                    top:50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
                .frame:first-of-type{
                    width:100px;
                    height:150px;
                    top:45%;
                    left: 50%;
                    
                    transform: translate(-50%, -50%);
                   
                }
                .frame:last-of-type{
                    width:100px;
                    height:150px;
                    top:50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    // transform:rotate(-7deg);
                }
            }
        }
        
    }
}